.hero {
  /* From https://css.glass */
  background: rgba(255, 235, 205, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  border: 1px solid rgba(255, 235, 205, 0.82);
  max-width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin: 1rem;
  position: fixed;
}
.hero h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2rem;
  text-shadow: 3px -1px 3px #e60000;
}
